.product_card {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s;
  width: 100%; 
  box-sizing: border-box;
}

.product_card:hover {
  transform: scale(1.02);
}

.wishlist {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  color:rgb(237, 17, 54);
}

.wishlist_icon {
  font-size: 1.2em;
  margin-right: 5px;
}

.product_card img {
  max-width: 100%;
  height: 150px; 
  object-fit: contain;
  margin-bottom: 10px;
}

.product_card h2 {
  font-size: 1em;
  margin: 10px 0;
  text-align: center;
  color: #333;
  overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    white-space: normal;
    /* text-align: justify; */
}

.product_card a {
  text-decoration: none;
  color: #14c4c4;
  margin-bottom: 10px;
}

.product_card h4 {
  font-size: 1em;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  color: #333;
}

.product_card h4 svg {
  margin-right: 5px;
}

.product_card .good {
  color: green;
}

.product_card .bad {
  color: red;
}

.product_card .button_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.product_card button {
  background-color: #14c4c4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  flex: 1;
  margin: 5px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_card button:hover {
  background-color: #0b9d9d;
}

.product_card .addTocart {
  margin-right: 5px;
}

/* Media Queries */
 @media (max-width: 1199px) {
  .button_container button {
    font-size: 16px;
  }
}

@media (max-width: 1050px) {
  .button_container button {
    font-size: 13px;
  }
}

/* @media (max-width: 950px) {
  .product_card {
    width: 48%;
  }
} */

/* @media (max-width: 768px) {
  .product_card {
    width: 100%; 
  }
} */

/* @media (max-width: 600px) {
  .product_card {
    width: 100%; 
  }
} */

/* @media (max-width: 480px) {
  .product_card {
    width: 100%; 
  }
}  */
