@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.signin_root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #f4f4f4;
}

.signin_container {
    display: flex;
    flex-direction: row;
    width: 60%;
    max-width: 800px;
    height: auto;
    box-shadow: 1px 1px 3px 1px rgb(222, 217, 217);
    font-family: "Open Sans", sans-serif;
    background-color: white;
    border-radius: 8px;
}

.left {
    width: 50%;
    background-color: rgb(14, 138, 138);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: blanchedalmond;
    padding: 20px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.left img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-top: 20px;
}

.right {
    padding: 40px 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(14, 138, 138);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.right form label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

.right form input {
    height: 35px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

.right form p {
    font-size: 14px;
    margin-bottom: 20px;
}

.right form p a {
    text-decoration: none;
    color: blue;
}

.right form input:focus {
    outline: none;
    border-color: rgb(14, 138, 138);
}

.right form button {
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(14, 138, 138);
    color: blanchedalmond;
    border: none;
    cursor: pointer;
    width: 100%;
}

.right form button:hover {
    background-color: rgb(12, 125, 125);
}

.login_text {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.login_text li {
    font-size: 14px;
    margin-top: 15px;
    list-style-type: none;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.5px;
    text-align: center;
}

.new_account {
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 200;
    margin-top: 20px;
    display: block;
}

.new_account:hover {
    color: rgb(14, 138, 138);
    font-weight: 700;
}

/* Media Queries */
@media (max-width: 1024px) {
    .signin_container {
        width: 75%;
        flex-direction: column;
        align-items: center;
    }

    .left, .right {
        width: 100%;
        border-radius: 0;
    }

    .right {
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .signin_container {
        width: 90%;
    }

    .left img {
        width: 60%;
    }
}

@media (max-width: 480px) {
    .signin_container {
        width: 100%;
        margin: 20px auto;
        box-shadow: none;
    }

    .left img{
        display: none;
    }

    .right {
        width: 100%;
        padding: 20px 15px;
    }

    .right form button {
        padding: 10px 20px;
        width: 100%;
    }

    .login_text {
        font-size: 20px;
    }

    .login_text li {
        font-size: 12px;
    }

    .new_account {
        font-size: 15px;
    }
}
