.signin_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.left, .right {
  flex: 1;
  padding: 20px;
}
.left ul{
  font-size: 24px;
  font-weight: 600;
}
.left li{
  font-size: 17px;
  font-weight: 100;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_text {
  margin-bottom: 20px;
  color: rgb(14,138,138);
}

.login_text ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.login_text li {
  margin-top: 10px;
}

.left img {
  max-width: 100%;
  height: 500px;
}

.right form {
  display: flex;
  flex-direction: column;
}

.right label {
  margin-bottom: 5px;
  color:teal
}

.right input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.right p {
  font-size: 0.9rem;
  margin-bottom: 20px;
  color: grey;
}

.right button {
  padding: 12px;
  font-size: 1rem;
  background-color: teal;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.right button:hover {
  background-color: rgb(14,138,138);
}

.new_account {
  display: block;
  margin-top: 18px;
  text-align: center;
  color: rgb(14,138,138);
  text-decoration: none;
  font-size: 16px;
}
.new_account:hover{
  color: teal;
}

.new_account:hover {
  text-decoration: underline;
}

/* Media Queries */
@media (max-width: 768px) {
  .signin_container {
    flex-direction: column;
    
  }
  .left img{
    max-width: 100%;
    height: 290px;
  
}

  .left, .right {
    width: 100%;
    padding: 10px;
  }
  .right p{
    margin-top: 15px;
  }

  .left {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .login_text {
    font-size: 0.9rem;
  }
  .left{
    margin-bottom: 10px;
  }
  .left img{
    
      max-width: 100%;
      height: 250px;
    
  }

  .right input {
    font-size: 0.9rem;
  }

  .right button {
    font-size: 0.9rem;
  }

  .right p {
    font-size: 0.8rem;
  }
}
