.carousel-container {
  width: 100%; 
  max-width: 1200px; 
  margin: auto;
  position: relative;
  overflow: hidden; 
  z-index: 0;
}

.carousel-container img {
  width: 100%;
  height: auto; 
  object-fit: cover; 
}

.react-multi-carousel-dot-list {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; 
}