.navbar {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4px 40px;
  /* gap: 40px; */
  z-index: 1000;
  background-color: rgb(14, 138, 138);
}

.navbarLeft {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 10px;
}

.logo {
  width: 150px;
  height: 40px;
}

.search_container {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 20px;
}

.search_icon {
  position: absolute;
  left: 10px;
  color: grey;
}

.search_input {
  width: 370px;
  max-width: 100%;
  padding: 8px 12px 8px 30px;
  border-radius: 10px;
  border: none;
  font-size: large;
}

.search_input:focus {
  outline:none;
}

.menu {
  display: flex;
  align-items: center;
}

.menuBtn {
  display: none;
  cursor: pointer;
  font-size: 30px;
  color: white;
  font-weight: 600;
}

.menuItems {
  display: flex;
  gap: 30px;
  list-style: none;
}

.menuItems li a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
}

.menuItems li a:hover {
  color: grey;
}

@media screen and (max-width: 922px) {
  .navbar {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
  }

  .search_container {
      margin-left: 10px;
  }

  .menu {
      display: flex;
      align-items: center;
  }

  .menuBtn {
      display: block;
  }

  .menuItems {
      position: absolute;
      top: 50px;
      right: 0;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      background: rgb(14, 138, 138);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
      display: none;
  }

  .menuItems.menuOpen {
      display: flex;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
      padding: 0 20px;
  }

  .search_container {
      margin-left: 10px;
      width: 60%;
  }

  .menuBtn {
      font-size: 27px;
  }

  .menuItems {
      top: 50px;
      padding: 10px 20px;
  }

  .menuItems li a {
      font-size: 18px;
  }
}
